---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [11]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [12]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [13]:
def get_list_of_university_towns():
    df = pd.DataFrame([], columns=['State', 'RegionName']) 
    with open('university_towns.txt', 'r') as f:
        state = ""
        for line in f:
            if '[edit]' in line:
                state = line[:line.find('[')].strip()
                continue
            region = line.strip()
            if '(' in region:
                region = region[:(region.find('(') - 1)]
            df = df.append(pd.DataFrame([[state, region]], columns=['State', 'RegionName']), ignore_index=True)
    return df
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [14]:
gdp=pd.read_excel('gdplev.xls')
gdp=gdp.drop(['Current-Dollar and "Real" Gross Domestic Product','Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 5'],axis=1)
gdp=gdp[7:]
gdp=gdp.rename(columns={'Unnamed: 4': 'Quarter', 'Unnamed: 6': 'GDP'})
gdp=gdp.set_index('Quarter')
index = gdp.index.get_loc('2000q1')
gdp = gdp.ix[index:]

In [15]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    for i in range(1, len(gdp) - 1):
        if (gdp.iloc[i]['GDP'] < gdp.iloc[i - 1]['GDP']) and (gdp.iloc[i + 1]['GDP'] < gdp.iloc[i]['GDP']):
            return gdp.iloc[i].name
    return None
    
get_recession_start()

'2008q3'

In [16]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
    recession_start = get_recession_start()
    index = gdp.index.get_loc(recession_start)
    for i in range(index + 2, len(gdp)):
        if (gdp.iloc[i]['GDP'] > gdp.iloc[i - 1]['GDP']) and (gdp.iloc[i - 1]['GDP'] > gdp.iloc[i - 2]['GDP']):
            return gdp.iloc[i].name
    return None
get_recession_end()

'2009q4'

In [17]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    start = gdp.index.get_loc(get_recession_start())
    end = gdp.index.get_loc(get_recession_end())
    table = gdp['GDP'][start:end + 1]
    year = gdp[gdp['GDP'] == np.min(table)].iloc[0].name
    return year
get_recession_bottom()

'2009q2'

In [18]:
def get_info():
    df1=pd.read_csv('City_Zhvi_AllHomes.csv')
    df1=df1.drop(['RegionID', 'Metro', 'CountyName', 'SizeRank'],axis=1)
    df1=df1.replace({'State': states})
    df1=df1.set_index(["State","RegionName"])
    df1=df1.replace(to_replace='NaN', value=np.NaN)
    df1=df1.convert_objects(convert_numeric=True)
    index = list(df1.columns.values).index('2000-01')
    df1 = df1.drop(df1.columns[:index], axis=1)
    df1=df1.sort()
    return df1
get_info()

                            2000-01   2000-02   2000-03   2000-04   2000-05  \
State     RegionName
Alabama   Adamsville        68700.0   69100.0   69300.0   69200.0   69100.0
          Alabaster        121600.0  122300.0  122500.0  122800.0  123200.0
          Albertville       74300.0   74100.0   73500.0   72700.0   72500.0
          Arab              84500.0   83900.0   82900.0   81900.0   81400.0
          Ardmore               NaN       NaN       NaN       NaN       NaN
          Axis                  NaN       NaN       NaN       NaN       NaN
          Baileyton             NaN       NaN       NaN       NaN       NaN
          Bay Minette       82900.0   81700.0   80500.0   79200.0   78200.0
          Bayou La Batre    44000.0   44100.0   44100.0   44200.0   44600.0
          Bessemer              NaN       NaN       NaN       NaN       NaN
          Birmingham        53900.0   54000.0   54200.0   54300.0   54400.0
          Boaz              70900.0   70900.0   70800.0   70400.0   70200.0
          Brent             92500.0   92800.0   93500.0   94400.0   94400.0
          Brighton              NaN       NaN       NaN       NaN       NaN
          Brookwood         92500.0   92200.0   93000.0   94300.0   95000.0
          Buhl              90900.0   90400.0   91100.0   93100.0   94900.0
          Calera           108300.0  109300.0  109200.0  109900.0  110900.0
          Center Point      80800.0   81000.0   81100.0   80900.0   81200.0
          Centreville       95200.0   95000.0   95700.0   96800.0   96700.0
          Chalkville        93900.0   94100.0   94300.0   94300.0   94500.0
          Chancellor            NaN       NaN       NaN       NaN       NaN
          Chelsea          160000.0  161800.0  164400.0  166600.0  167200.0
          Chickasaw         50300.0   51200.0   52100.0   53100.0   53800.0
          Chunchula         79800.0   80200.0   80800.0   81800.0   81800.0
          Citronelle        63900.0   64700.0   65900.0   66700.0   66400.0
          Clay             120400.0  121100.0  121200.0  121400.0  122200.0
          Coden             62300.0   62500.0   63000.0   64100.0   65200.0
          Coker            116400.0  118000.0  119900.0  121300.0  121000.0
          Concord           78800.0   78400.0   78600.0   78500.0   78600.0
          Cottondale       100500.0  100800.0  101200.0  102000.0  102700.0
...                             ...       ...       ...       ...       ...
Wisconsin Vernon           183200.0  183800.0  182600.0  180500.0  178100.0
          Vienna           177100.0  177800.0  179200.0  181200.0  181800.0
          Vinland          117900.0  119600.0  121900.0  124400.0  126600.0
          Wales                 NaN       NaN       NaN       NaN       NaN
          Waterford        122000.0  121000.0  120600.0  119900.0  119200.0
          Waukesha         141400.0  141700.0  140700.0  139700.0  138400.0
          Waunakee         186100.0  187400.0  188700.0  190200.0  191800.0
          Waupun            83700.0   84200.0   84100.0   83900.0   83900.0
          Wausau            68500.0   69800.0   70400.0   70000.0   69200.0
          Wayne                 NaN       NaN       NaN       NaN       NaN
          West Allis        80600.0   80900.0   81300.0   81600.0   81700.0
          Weston            79200.0   79900.0   81400.0   82300.0   82700.0
          Wheatland        128800.0  129500.0  131100.0  131800.0  131800.0
          Whitelaw          94800.0   96100.0   97200.0   98800.0  101200.0
          Williams Bay     127100.0  122600.0  119000.0  116900.0  115400.0
          Wilson           128100.0  129200.0  129800.0  129300.0  129000.0
          Wilson                NaN       NaN       NaN       NaN       NaN
          Wind Lake        125200.0  124000.0  123900.0  123500.0  123400.0
          Wind Point       150800.0  148800.0  148100.0  147400.0  145400.0
          Wisconsin Dells   98300.0  100000.0  101700.0  102600.0  103500.0
          Wolf River        93700.0   95100.0   96700.0   98200.0   99300.0
          Woodruff              NaN       NaN       NaN       NaN       NaN
          Woodville             NaN       NaN       NaN       NaN       NaN
          Yorkville        140400.0  138800.0  138000.0  136500.0  134700.0
Wyoming   Bar Nunn          93400.0   93100.0   92600.0   91000.0   89300.0
          Burns            100900.0  101300.0  102400.0  103600.0  104400.0
          Casper            88400.0   89300.0   90000.0   90100.0   89600.0
          Cheyenne         116000.0  116700.0  117900.0  119200.0  120100.0
          Evansville       128500.0  128100.0  127500.0  127700.0  128600.0
          Pine Bluffs       93900.0   93400.0   93900.0   94900.0   95300.0

                            2000-06   2000-07   2000-08   2000-09   2000-10  \
State     RegionName
Alabama   Adamsville        69200.0   69500.0   69700.0   70200.0   71100.0
          Alabaster        123200.0  123100.0  123100.0  123300.0  123500.0
          Albertville       72600.0   72500.0   72800.0   73200.0   73500.0
          Arab              81400.0   81200.0   81200.0   81600.0   82400.0
          Ardmore               NaN       NaN       NaN       NaN       NaN
          Axis                  NaN       NaN       NaN       NaN       NaN
          Baileyton             NaN       NaN       NaN       NaN       NaN
          Bay Minette       78200.0   78400.0   79100.0   79900.0   80700.0
          Bayou La Batre    44700.0   44600.0   44300.0   43900.0   43900.0
          Bessemer              NaN       NaN       NaN       NaN       NaN
          Birmingham        54500.0   54700.0   55000.0   55200.0   55600.0
          Boaz              70200.0   70100.0   70100.0   70700.0   71000.0
          Brent             94200.0   94800.0   96400.0   97300.0   98100.0
          Brighton              NaN       NaN       NaN       NaN       NaN
          Brookwood         96000.0   97700.0   99100.0   99800.0  100100.0
          Buhl              95800.0   96400.0   96600.0   96500.0   96500.0
          Calera           110300.0  109000.0  107800.0  107200.0  107200.0
          Center Point      81600.0   81700.0   81500.0   81300.0   81700.0
          Centreville       96200.0   96600.0   98000.0   99400.0   99700.0
          Chalkville        94500.0   94500.0   94500.0   94300.0   94300.0
          Chancellor            NaN       NaN       NaN       NaN       NaN
          Chelsea          167300.0  167200.0  167000.0  166500.0  166700.0
          Chickasaw         54100.0   54400.0   54900.0   55500.0   56000.0
          Chunchula         81700.0   82000.0   82300.0   82300.0   82800.0
          Citronelle        66800.0   67900.0   68400.0   67900.0   67900.0
          Clay             123200.0  123900.0  123900.0  124100.0  125300.0
          Coden             65100.0   65400.0   66800.0   68400.0   68700.0
          Coker            120000.0  118900.0  117900.0  117700.0  116900.0
          Concord           79000.0   79500.0   80100.0   80800.0   81700.0
          Cottondale       103200.0  104000.0  104800.0  105500.0  105600.0
...                             ...       ...       ...       ...       ...
Wisconsin Vernon           176000.0  174600.0  174000.0  174300.0  175300.0
          Vienna           181600.0  181500.0  182300.0  183500.0  184900.0
          Vinland          129300.0  132800.0  135700.0  136300.0  136400.0
          Wales                 NaN       NaN       NaN       NaN       NaN
          Waterford        119200.0  119600.0  120100.0  120900.0  121200.0
          Waukesha         137200.0  136700.0  136600.0  136900.0  137900.0
          Waunakee         192300.0  192000.0  192600.0  193400.0  193400.0
          Waupun            84200.0   84300.0   84400.0   84500.0   84700.0
          Wausau            69200.0   70200.0   71300.0   71600.0   70500.0
          Wayne                 NaN       NaN       NaN       NaN       NaN
          West Allis        82500.0   83900.0   84600.0   83700.0   81900.0
          Weston            83100.0   83600.0   84100.0   84800.0   85400.0
          Wheatland        132800.0  134200.0  134900.0  135700.0  136900.0
          Whitelaw         104300.0  106400.0  108200.0  109500.0  112100.0
          Williams Bay     113600.0  111600.0  110400.0  110300.0  110500.0
          Wilson           129800.0  131400.0  132300.0  133600.0  135600.0
          Wilson                NaN       NaN       NaN       NaN       NaN
          Wind Lake        124100.0  124100.0  123700.0  124600.0  125400.0
          Wind Point       143000.0  141400.0  140200.0  141000.0  144100.0
          Wisconsin Dells  104100.0  104400.0  105000.0  105600.0  105300.0
          Wolf River       100500.0  102200.0  104100.0  105100.0  106100.0
          Woodruff              NaN       NaN       NaN       NaN       NaN
          Woodville             NaN       NaN       NaN       NaN       NaN
          Yorkville        133500.0  133400.0  134600.0  137100.0  138900.0
Wyoming   Bar Nunn          88700.0   88400.0   88600.0   89700.0   91100.0
          Burns            105700.0  107000.0  108200.0  109900.0  111700.0
          Casper            89100.0   89000.0   89500.0   90700.0   92100.0
          Cheyenne         120800.0  121000.0  121400.0  122200.0  123000.0
          Evansville       130000.0  130900.0  130600.0  131000.0  132300.0
          Pine Bluffs       95000.0   94100.0   94200.0   95600.0   97200.0

                            ...     2015-11  2015-12  2016-01  2016-02  \
State     RegionName        ...
Alabama   Adamsville        ...       73900    73500    73600    74100
          Alabaster         ...      151800   152400   152800   153400
          Albertville       ...       91600    91500    91400    92000
          Arab              ...      112500   112100   111000   109800
          Ardmore           ...      144200   143100   142200   142500
          Axis              ...      109500   109000   109600   110300
          Baileyton         ...       97200    97400    97200    96600
          Bay Minette       ...      121700   122000   121300   120300
          Bayou La Batre    ...       48900    48600    48700    48700
          Bessemer          ...       59500    59600    59600    59800
          Birmingham        ...       63200    62600    62400    62000
          Boaz              ...       86700    86400    85700    85700
          Brent             ...       96000    95200    94400    94700
          Brighton          ...       45900    45300    44700    44800
          Brookwood         ...      118400   118100   116600   114900
          Buhl              ...      146400   146300   142300   138900
          Calera            ...      128500   128800   129300   129700
          Center Point      ...       80800    81100    81600    82000
          Centreville       ...      101900   102200   103300   103700
          Chalkville        ...      111300   110600   110800   111700
          Chancellor        ...      110000   109700   110900   113200
          Chelsea           ...      208000   208600   209100   209000
          Chickasaw         ...       58500    58400    58100    57700
          Chunchula         ...      123800   123100   122800   122500
          Citronelle        ...       94100    93200    93000    93400
          Clay              ...      141700   142200   142700   143000
          Coden             ...       80500    80300    80700    81200
          Coker             ...      155300   155400   152800   150400
          Concord           ...      111000   112300   112800   112400
          Cottondale        ...      138000   138000   136100   134000
...                         ...         ...      ...      ...      ...
Wisconsin Vernon            ...      263200   263300   262800   263700
          Vienna            ...      282000   281800   281600   284200
          Vinland           ...      182100   182300   182500   183000
          Wales             ...      267600   267600   266900   267800
          Waterford         ...      230200   229800   230300   230400
          Waukesha          ...      190500   190900   190500   190900
          Waunakee          ...      297500   297300   297700   299600
          Waupun            ...      109800   109500   109400   110600
          Wausau            ...       94700    93700    93600    93700
          Wayne             ...      256600   258000   259800   262200
          West Allis        ...       99900   101700   102000   100800
          Weston            ...      138800   139000   139800   140300
          Wheatland         ...      176200   177500   179200   182300
          Whitelaw          ...      117900   118200   117800   117200
          Williams Bay      ...      225700   226600   229100   230700
          Wilson            ...      166200   168300   169700   170400
          Wilson            ...      188600   189300   188800   188600
          Wind Lake         ...      241700   241700   241600   240700
          Wind Point        ...      249400   252000   254000   254100
          Wisconsin Dells   ...      140600   139700   139400   139700
          Wolf River        ...      163200   162100   160200   159300
          Woodruff          ...      165600   163900   162800   162400
          Woodville         ...      182100   183000   183100   182400
          Yorkville         ...      244100   246500   248800   248800
Wyoming   Bar Nunn          ...      211500   211200   211200   210300
          Burns             ...      164100   164500   166800   168500
          Casper            ...      182300   182600   184000   184500
          Cheyenne          ...      190500   191900   193800   194700
          Evansville        ...      303900   306600   308200   309700
          Pine Bluffs       ...      169600   169300   168400   166300

                           2016-03  2016-04  2016-05  2016-06  2016-07  \
State     RegionName
Alabama   Adamsville         74800    75200    74900    74700    74700
          Alabaster         154200   154900   155200   155200   155600
          Albertville        92600    92600    92400    92400    92300
          Arab              109300   109500   110100   110700   111600
          Ardmore           143000   143200   143400   143100   142300
          Axis              110900   111700   112300   112600   112800
          Baileyton          96500    97500    99100   100100   101300
          Bay Minette       119200   118500   118300   118200   118300
          Bayou La Batre     48300    47800    47800    47900    47600
          Bessemer           59900    59700    59900    60000    59900
          Birmingham         61700    61600    61700    61600    61300
          Boaz               86500    87100    87300    87700    88300
          Brent              94200    93200    91500    89400    87900
          Brighton           45600    45500    44400    43400    43700
          Brookwood         114200   113500   111900   110500   109200
          Buhl              138200   137500   135800   133400   130000
          Calera            129900   130000   130000   129800   129600
          Center Point       82500    82800    83000    83300    83800
          Centreville       102700   101500   100400    99000    98400
          Chalkville        113000   113800   114400   115000   115600
          Chancellor        115800   118800   120800   121400   121500
          Chelsea           209500   210500   211500   212200   213500
          Chickasaw          57500    57200    57000    57000    56800
          Chunchula         122200   122500   123400   124100   124300
          Citronelle         93700    93900    94000    94000    93800
          Clay              143400   144000   144500   145000   145600
          Coden              81400    81900    82300    81900    81000
          Coker             149700   149000   147200   145400   144000
          Concord           111800   111500   111700   112600   113600
          Cottondale        133400   133900   134200   134000   133600
...                            ...      ...      ...      ...      ...
Wisconsin Vernon            265500   266900   268400   269200   272000
          Vienna            286600   286100   285500   285800   288100
          Vinland           183900   185100   186400   188000   189400
          Wales             270600   273400   276200   277400   280300
          Waterford         230900   233200   235200   236100   237000
          Waukesha          192000   193200   194200   194500   197000
          Waunakee          300800   301600   303200   304600   306700
          Waupun            112300   112800   112600   112400   112600
          Wausau             94500    95800    96900    97800    98200
          Wayne             263600   264900   266900   269600   271700
          West Allis         99900   100000    97900    95800    95600
          Weston            140400   140900   142100   143700   144700
          Wheatland         185200   187300   189000   190700   193000
          Whitelaw          116700   116800   117400   118000   117800
          Williams Bay      234900   242800   250100   252300   254000
          Wilson            171300   173000   175000   176600   177900
          Wilson            189800   192500   197200   202100   205200
          Wind Lake         240200   242000   244000   245600   247700
          Wind Point        255100   258300   260900   259300   258100
          Wisconsin Dells   140200   140700   140900   141400   142500
          Wolf River        159000   158800   160200   163800   167100
          Woodruff          162400   161900   161600   162400   163700
          Woodville         182400   184000   186700   189300   192000
          Yorkville         247800   250400   255300   259900   264100
Wyoming   Bar Nunn          209100   209000   209000   208500   207700
          Burns             169500   171100   172100   171600   170700
          Casper            184500   184900   185400   185200   184600
          Cheyenne          194800   195500   196400   197600   198800
          Evansville        310400   310200   308800   308600   308800
          Pine Bluffs       165800   166600   164500   160300   158000

                           2016-08
State     RegionName
Alabama   Adamsville         74700
          Alabaster         156100
          Albertville        92100
          Arab              112400
          Ardmore           141600
          Axis              112700
          Baileyton         103100
          Bay Minette       118700
          Bayou La Batre     47200
          Bessemer           59700
          Birmingham         61200
          Boaz               88900
          Brent              87400
          Brighton           44300
          Brookwood         108100
          Buhl              126700
          Calera            129600
          Center Point       84200
          Centreville        98600
          Chalkville        115800
          Chancellor        121500
          Chelsea           214900
          Chickasaw          56400
          Chunchula         124400
          Citronelle         93700
          Clay              146100
          Coden              80100
          Coker             143100
          Concord           114100
          Cottondale        133500
...                            ...
Wisconsin Vernon            276200
          Vienna            291000
          Vinland           190100
          Wales             284500
          Waterford         238200
          Waukesha          201000
          Waunakee          309500
          Waupun            112900
          Wausau             98200
          Wayne             272800
          West Allis         96100
          Weston            144900
          Wheatland         196000
          Whitelaw          117400

In [19]:
def get_quarter(year, month):
    if month <= 3:
        quarter = 1
    elif month <= 6:
        quarter = 2
    elif month <= 9:
        quarter = 3
    elif month <= 12:
        quarter = 4
    return (str(year) + 'q' + str(quarter))

def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    df1=get_info()
    l = len(df1.columns)
    i = 0
    while i < l:
        col_name = df1.iloc[:, i].name
        
        year = int(col_name.split('-')[0])
        month = int(col_name.split('-')[1])
        quarter = get_quarter(year, month)
        if i + 3 < l:
            split = df1.iloc[:, i:i + 3]
        else:
            split = df1.iloc[:, i:l]
        df1[quarter] = split.mean(axis=1)
        i += 3
    df1 = df1.drop(df1.columns[:l], axis=1)
    return df1
convert_housing_data_to_quarters()

                                  2000q1         2000q2         2000q3  \
State     RegionName
Alabama   Adamsville        69033.333333   69166.666667   69800.000000
          Alabaster        122133.333333  123066.666667  123166.666667
          Albertville       73966.666667   72600.000000   72833.333333
          Arab              83766.666667   81566.666667   81333.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81700.000000   78533.333333   79133.333333
          Bayou La Batre    44066.666667   44500.000000   44266.666667
          Bessemer                   NaN            NaN            NaN
          Birmingham        54033.333333   54400.000000   54966.666667
          Boaz              70866.666667   70266.666667   70300.000000
          Brent             92933.333333   94333.333333   96166.666667
          Brighton                   NaN            NaN            NaN
          Brookwood         92566.666667   95100.000000   98866.666667
          Buhl              90800.000000   94600.000000   96500.000000
          Calera           108933.333333  110366.666667  108000.000000
          Center Point      80966.666667   81233.333333   81500.000000
          Centreville       95300.000000   96566.666667   98000.000000
          Chalkville        94100.000000   94433.333333   94433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          162066.666667  167033.333333  166900.000000
          Chickasaw         51200.000000   53666.666667   54933.333333
          Chunchula         80266.666667   81766.666667   82200.000000
          Citronelle        64833.333333   66633.333333   68066.666667
          Clay             120900.000000  122266.666667  123966.666667
          Coden             62600.000000   64800.000000   66866.666667
          Coker            118100.000000  120766.666667  118166.666667
          Concord           78600.000000   78700.000000   80133.333333
          Cottondale       100833.333333  102633.333333  104766.666667
...                                  ...            ...            ...
Wisconsin Vernon           183200.000000  178200.000000  174300.000000
          Vienna           178033.333333  181533.333333  182433.333333
          Vinland          119800.000000  126766.666667  134933.333333
          Wales                      NaN            NaN            NaN
          Waterford        121200.000000  119433.333333  120200.000000
          Waukesha         141266.666667  138433.333333  136733.333333
          Waunakee         187400.000000  191433.333333  192666.666667
          Waupun            84000.000000   84000.000000   84400.000000
          Wausau            69566.666667   69466.666667   71033.333333
          Wayne                      NaN            NaN            NaN
          West Allis        80933.333333   81933.333333   84066.666667
          Weston            80166.666667   82700.000000   84166.666667
          Wheatland        129800.000000  132133.333333  134933.333333
          Whitelaw          96033.333333  101433.333333  108033.333333
          Williams Bay     122900.000000  115300.000000  110766.666667
          Wilson           129033.333333  129366.666667  132433.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        124366.666667  123666.666667  124133.333333
          Wind Point       149233.333333  145266.666667  140866.666667
          Wisconsin Dells  100000.000000  103400.000000  105000.000000
          Wolf River        95166.666667   99333.333333  103800.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        139066.666667  134900.000000  135033.333333
Wyoming   Bar Nunn          93033.333333   89666.666667   88900.000000
          Burns            101533.333333  104566.666667  108366.666667
          Casper            89233.333333   89600.000000   89733.333333
          Cheyenne         116866.666667  120033.333333  121533.333333
          Evansville       128033.333333  128766.666667  130833.333333
          Pine Bluffs       93733.333333   95066.666667   94633.333333

                                  2000q4         2001q1         2001q2  \
State     RegionName
Alabama   Adamsville        71966.666667   73466.666667   74000.000000
          Alabaster        123700.000000  123233.333333  125133.333333
          Albertville       74200.000000   75900.000000   76000.000000
          Arab              82966.666667   84200.000000   84533.333333
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       81300.000000   85700.000000   87266.666667
          Bayou La Batre    43666.666667   42500.000000   43333.333333
          Bessemer                   NaN            NaN            NaN
          Birmingham        56066.666667   56833.333333   57600.000000
          Boaz              71466.666667   72833.333333   71900.000000
          Brent             98333.333333   96533.333333   98500.000000
          Brighton                   NaN            NaN            NaN
          Brookwood         99966.666667  101666.666667  103666.666667
          Buhl              96566.666667   99266.666667  101966.666667
          Calera           107933.333333  109333.333333  112200.000000
          Center Point      82233.333333   83366.666667   84333.333333
          Centreville       99366.666667   98100.000000   99266.666667
          Chalkville        94433.333333   96066.666667   97433.333333
          Chancellor                 NaN            NaN            NaN
          Chelsea          167400.000000  170633.333333  174300.000000
          Chickasaw         56066.666667   55133.333333   53566.666667
          Chunchula         83400.000000   85400.000000   86100.000000
          Citronelle        67766.666667   67866.666667   70000.000000
          Clay             126500.000000  128033.333333  128300.000000
          Coden             68566.666667   68933.333333   71300.000000
          Coker            115333.333333  114066.666667  115700.000000
          Concord           82800.000000   85133.333333   85800.000000
          Cottondale       105300.000000  106733.333333  109233.333333
...                                  ...            ...            ...
Wisconsin Vernon           177466.666667  186233.333333  190500.000000
          Vienna           186300.000000  190600.000000  191566.666667
          Vinland          137833.333333  144300.000000  148200.000000
          Wales                      NaN            NaN            NaN
          Waterford        121966.666667  127000.000000  133000.000000
          Waukesha         139833.333333  147600.000000  151066.666667
          Waunakee         193733.333333  197333.333333  198500.000000
          Waupun            84533.333333   85100.000000   86600.000000
          Wausau            69833.333333   69866.666667   71366.666667
          Wayne                      NaN            NaN            NaN
          West Allis        80666.666667   79100.000000   80333.333333
          Weston            85800.000000   87266.666667   88500.000000
          Wheatland        137833.333333  142566.666667  143000.000000
          Whitelaw         114000.000000  116333.333333  114966.666667
          Williams Bay     110700.000000  112600.000000  117100.000000
          Wilson           137200.000000  143533.333333  143833.333333
          Wilson                     NaN            NaN            NaN
          Wind Lake        126066.666667  132133.333333  139466.666667
          Wind Point       147866.666667  158666.666667  163966.666667
          Wisconsin Dells  105433.333333  105533.333333  107100.000000
          Wolf River       107633.333333  111400.000000  115033.333333
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        140300.000000  148800.000000  155233.333333
Wyoming   Bar Nunn          93500.000000   98833.333333   99900.000000
          Burns            113000.000000  115833.333333  117200.000000
          Casper            93166.666667   95500.000000   97633.333333
          Cheyenne         123633.333333  125533.333333  126300.000000
          Evansville       132066.666667  130566.666667  131433.333333
          Pine Bluffs       98066.666667  103233.333333  104600.000000

                                  2001q3         2001q4         2002q1  \
State     RegionName
Alabama   Adamsville        73333.333333   73100.000000   73333.333333
          Alabaster        127766.666667  127200.000000  127300.000000
          Albertville       72066.666667   73566.666667   76533.333333
          Arab              81666.666667   83900.000000   87266.666667
          Ardmore                    NaN            NaN            NaN
          Axis                       NaN            NaN            NaN
          Baileyton                  NaN            NaN            NaN
          Bay Minette       85900.000000   85000.000000   84066.666667
          Bayou La Batre    45433.333333   45400.000000   45400.000000
          Bessemer                   NaN            NaN            NaN
          Birmingham        58433.333333   58700.000000   59500.000000
          Boaz              68733.333333   69833.333333   72766.666667
          Brent             99366.666667  104100.000000  103800.000000
          Brighton                   NaN            NaN            NaN
          Brookwood        101833.333333   99900.000000   99633.333333
          Buhl             102000.000000  102733.333333  102533.333333
          Calera           114333.333333  112133.333333  111500.000000
          Center Point      84466.666667   85333.333333   86100.000000
          Centreville      100400.000000  104633.333333  105233.333333
          Chalkville        98400.000000   99366.666667   99866.666667
          Chancellor                 NaN            NaN            NaN
          Chelsea          174900.000000  173300.000000  170566.666667
          Chickasaw         53533.333333   53400.000000   54266.666667
          Chunchula         86733.333333   86566.666667   86166.666667
          Citronelle        71466.666667   70933.333333   69833.333333
          Clay             129233.333333  130466.666667  130900.000000
          Coden             72733.333333   73600.000000   72933.333333
          Coker            118833.333333  122566.666667  122366.666667
          Concord           84866.666667   84766.666667   86366.666667
          Cottondale       109200.000000  109900.000000  109333.333333
...                                  ...            ...            ...
Wisconsin Vernon           193100.000000  197466.666667  201800.000000
          Vienna           193733.333333  194833.333333  198466.666667
          Vinland          147733.333333  151200.000000  149233.333333
          Wales                      NaN            NaN            NaN
          Waterford        139233.333333  143100.000000  145733.333333
          Waukesha         153100.000000  155033.333333  158200.000000
          Waunakee         201266.666667  202100.000000  206100.000000
          Waupun            87666.666667   87100.000000   87533.333333
          Wausau            73100.000000   74033.333333   76400.000000
          Wayne                      NaN            NaN            NaN
          West Allis        81433.333333   82400.000000   84966.666667
          Weston            90066.666667   91766.666667   94833.333333
          Wheatland        143966.666667  142633.333333  143933.333333
          Whitelaw         115666.666667  115866.666667  117766.666667
          Williams Bay     119533.333333  121400.000000  126566.666667
          Wilson           143233.333333  141966.666667  142466.666667
          Wilson                     NaN            NaN            NaN
          Wind Lake        144200.000000  147333.333333  150933.333333
          Wind Point       170833.333333  169566.666667  170533.333333
          Wisconsin Dells  109866.666667  111633.333333  115833.333333
          Wolf River       116900.000000  118233.333333  118600.000000
          Woodruff                   NaN            NaN            NaN
          Woodville                  NaN            NaN            NaN
          Yorkville        161133.333333  162800.000000  164866.666667
Wyoming   Bar Nunn          99100.000000   98333.333333   98633.333333
          Burns            117800.000000  117633.333333  117333.333333
          Casper            99433.333333  100633.333333  101733.333333
          Cheyenne         126466.666667  128133.333333  128466.666667
          Evansville       132400.000000  133466.666667  133300.000000
          Pine Bluffs      106500.000000  104066.666667  102233.333333

                                  2002q2    ...            2014q2  \
State     RegionName                        ...
Alabama   Adamsville        73133.333333    ...      77066.666667
          Alabaster        128000.000000    ...     147133.333333
          Albertville       76366.666667    ...      84033.333333
          Arab              87700.000000    ...     113366.666667
          Ardmore                    NaN    ...     140533.333333
          Axis                       NaN    ...     111066.666667
          Baileyton                  NaN    ...      87666.666667
          Bay Minette       84566.666667    ...     113333.333333
          Bayou La Batre    45566.666667    ...      49800.000000
          Bessemer                   NaN    ...      54600.000000
          Birmingham        59866.666667    ...      61733.333333
          Boaz              72100.000000    ...      80933.333333
          Brent            102533.333333    ...      93866.666667
          Brighton                   NaN    ...      45366.666667
          Brookwood        100366.666667    ...     106633.333333
          Buhl             100100.000000    ...     119233.333333
          Calera           111233.333333    ...     125533.333333
          Center Point      86500.000000    ...      78833.333333
          Centreville      105066.666667    ...      95566.666667
          Chalkville       100733.333333    ...     105233.333333
          Chancellor                 NaN    ...     116400.000000
          Chelsea          171100.000000    ...     197133.333333
          Chickasaw         55000.000000    ...      59000.000000
          Chunchula         86533.333333    ...     120666.666667
          Citronelle        68133.333333    ...      88600.000000
          Clay             131100.000000    ...     134100.000000
          Coden             69100.000000    ...      77566.666667
          Coker            119200.000000    ...     141700.000000
          Concord           90366.666667    ...     104733.333333
          Cottondale       107966.666667    ...     128500.000000
...                                  ...    ...               ...
Wisconsin Vernon           201966.666667    ...     257733.333333
          Vienna           202466.666667    ...     265700.000000
          Vinland          146433.333333    ...     181766.666667
          Wales                      NaN    ...     262133.333333
          Waterford        151266.666667    ...     213133.333333
          Waukesha         157833.333333    ...     181166.666667
          Waunakee         208533.333333    ...     278100.000000
          Waupun            87466.666667    ...     113166.666667
          Wausau            78700.000000    ...      91600.000000
          Wayne                      NaN    ...     238633.333333
          West Allis        87566.666667    ...      90433.333333
          Weston            97600.000000    ...     133233.333333
          Wheatland        146433.333333    ...     169266.666667
          Whitelaw         116800.000000    ...     120433.333333
          Williams Bay     131700.000000    ...     223000.000000
          Wilson           139200.000000    ...     159933.333333
          Wilson                     NaN    ...     170300.000000
          Wind Lake        156166.666667    ...     228200.000000
          Wind Point       179733.333333    ...     261233.333333
          Wisconsin Dells  117333.333333    ...     137500.000000
          Wolf River       116800.000000    ...     162666.666667
          Woodruff                   NaN    ...     172133.333333
          Woodville                  NaN    ...     162600.000000
          Yorkville        172466.666667    ...     231500.000000
Wyoming   Bar Nunn         100866.666667    ...     199233.333333
          Burns            117233.333333    ...     168866.666667
          Casper           101533.333333    ...     175766.666667
          Cheyenne         129633.333333    ...     177466.666667
          Evansville       131066.666667    ...     296733.333333
          Pine Bluffs      103566.666667    ...     148666.666667

                                  2014q3         2014q4         2015q1  \
State     RegionName
Alabama   Adamsville        75966.666667   71900.000000   71666.666667
          Alabaster        147633.333333  148700.000000  148900.000000
          Albertville       84766.666667   86800.000000   88466.666667
          Arab             111700.000000  111600.000000  110166.666667
          Ardmore          139566.666667  140900.000000  143233.333333
          Axis             111833.333333  111800.000000  109533.333333
          Baileyton         90033.333333   94100.000000   94600.000000
          Bay Minette      110600.000000  109900.000000  111100.000000
          Bayou La Batre    51000.000000   51766.666667   50733.333333
          Bessemer          55333.333333   54733.333333   55200.000000
          Birmingham        60900.000000   59533.333333   59900.000000
          Boaz              81866.666667   82866.666667   83966.666667
          Brent             97100.000000  100100.000000  102433.333333
          Brighton          45133.333333   43766.666667   42500.000000
          Brookwood        110233.333333  114366.666667  117700.000000
          Buhl             132033.333333  138400.000000  141766.666667
          Calera           126733.333333  127633.333333  128366.666667
          Center Point      78433.333333   80200.000000   80100.000000
          Centreville       98866.666667  101866.666667  103933.333333
          Chalkville       104333.333333  105866.666667  106966.666667
          Chancellor       117000.000000  117133.333333  114733.333333
          Chelsea          199066.666667  199933.333333  202333.333333
          Chickasaw         60400.000000   59733.333333   58066.666667
          Chunchula        121600.000000  122733.333333  123666.666667
          Citronelle        89633.333333   90766.666667   91300.000000
          Clay             134300.000000  135466.666667  138466.666667
          Coden             76866.666667   77800.000000   79300.000000
          Coker            146300.000000  154333.333333  157566.666667
          Concord          100233.333333   94800.000000   96200.000000
          Cottondale       130566.666667  133433.333333  134500.000000
...                                  ...            ...            ...
Wisconsin Vernon           256200.000000  254566.666667  253633.333333
          Vienna           267466.666667  267766.666667  268300.000000
          Vinland          183500.000000  184233.333333  184033.333333

In [20]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    hdf = convert_housing_data_to_quarters()
    start_index = hdf.columns.get_loc(get_recession_start())
    bottom_index = hdf.columns.get_loc(get_recession_bottom())
    hdf['Ratio'] = hdf.iloc[:, start_index - 1] / hdf.iloc[:, bottom_index]
    hdf = pd.DataFrame(hdf.loc[:, 'Ratio'])
    ul = get_list_of_university_towns()
    ul = ul.set_index(['State', 'RegionName'])
    univ_prices = pd.merge(hdf, ul, how="inner", left_index=True, right_index=True)
    non_univ = pd.merge(hdf, ul, how="outer", left_index=True, right_index=True, indicator=True)
    non_univ = non_univ[non_univ['_merge'] == 'left_only']
    non_univ = non_univ.drop('_merge', axis=1)
    univ_prices = univ_prices.dropna()
    non_univ = non_univ.dropna()
    s, p = ttest_ind(univ_prices['Ratio'], non_univ['Ratio'])
    s2, p2 = ttest_ind(non_univ['Ratio'], univ_prices['Ratio'])
    ans = True, p, "university town"
    return ans

run_ttest()

(True, 0.002724063704761164, 'university town')